minimud/world_data.dtd


<!ELEMENT minimud_world (room+)>

<!ELEMENT room (id, name, description, move+, npc*, object* ) >

<!ELEMENT id (#PCDATA)>
<!ELEMENT item_id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!ELEMENT move ( direction, next_room_id, description )>

<!ELEMENT direction (#PCDATA)>
<!ELEMENT next_room_id (#PCDATA)>

<!ELEMENT object (name, description, action*)>
<!ELEMENT npc (name, description, intro, action*)>
<!ELEMENT action (name, result)>

<!ELEMENT intro (#PCDATA)>
<!ELEMENT detail (#PCDATA)>
<!ELEMENT type (#PCDATA)>

<!ELEMENT result (type, description, item_id?, value?)>

